/tfm
/data_generator/img
/data_generator/fodg
/data_generator/utils/__pycache__
/ght/utils/detector/__pycache__
/ght/utils/__pycache__
/prueba_dibujo.fodg
/prueba_py.fodg
/utils/model_positions_copy.py
/AI_PROJECT/output