/tfm
/data_generator/img
/data_generator/fodg
/data_generator/img_fractional
/data_generator/test
/data_generator/utils/__pycache__
/ght/utils/detector/__pycache__
/ght/utils/__pycache__
/prueba_dibujo.fodg
/prueba_py.fodg
/utils/model_positions_copy.py
/AI_PROJECT/output
/AI_PROJECT/dataset/utils/__pycache__
/AI_PROJECT/model/__pycache__
/AI_PROJECT/dataset/__pycache__
/AI_PROJECT/dataset/utils/transform/__pycache__