img
fodg
img_fractional
prueba
relational_images
test_prueba
train_relational_images
test_relational_images
test
real_images
Validation_Detection
utils/__pycache__
Train_Detection
real_images_2
real_sample_images
__pycache__
real_sample_relational_images